html[mode="placeroad"] .road:not(.player) {
    z-index:101;
    height:2%;
    background-color:yellow;
}
html[mode="placeroad"] .road:not(.player):hover {

}

html[mode="placesettlement"] .corner:not(.settlement):not(.city) {
    z-index:101;
    background-color:yellow;
    display:block;
    opacity:.6 !important;
}

html[mode="placecity"][color="red"] .corner.red.settlement:not(.city) {
    z-index:101;
    background-color:yellow;
    border:2px solid yellow;
    display:block;
}
html[mode="placecity"][color="white"] .corner.white.settlement:not(.city) {
    z-index:101;
    background-color:yellow;
    border:2px solid yellow;
    display:block;
}
html[mode="placecity"][color="blue"] .corner.blue.settlement:not(.city) {
    z-index:101;
    background-color:yellow;
    border:2px solid yellow;
    display:block;
}
html[mode="placecity"][color="orange"] .corner.orange.settlement:not(.city) {
    z-index:101;
    background-color:yellow;
    border:2px solid yellow;
    display:block;
}

html[mode="moverobber"] .number:not(.robber) {
    z-index:101;
    background-color:yellow;
}

html[mode="roll"] .resource, html[mode="roll"] .number {
    opacity:.3;
}
html[mode="roll"] .resource.roll-active, html[mode="roll"] .number.roll-active {
    opacity:1;
}
html[mode="roll"] .player-panel .pieces {
    display:none;
}
html[mode="roll"] .player-panel .cards {
    display:block;
}
html[mode]:not([mode=""]) .button-done { display:block; }